# maven
/**/target/

# idea
/**/.idea/
/**/*.iml

# vite
/**/node_modules/
/**/dist/

# draw.io
/**/.$*.bkp
/**/.$*.dtmp

# Docker
/dockerfile/*.tar
/dockerfile/*.tar.xz
/dockerfile/*.jar

# 临时文件
/server-springboot/images/
