# maven
/**/target/

# idea
/**/.idea/
/**/*.iml

# vite
/**/node_modules/
/**/dist/

# draw.io
/**/.$*.bkp
/**/.$*.dtmp

# 自定义
/server-springboot/config/application-dev.properties
/server-springboot/external-resource/avatar/user/
/server-springboot/external-resource/cover/custom/
/server-springboot/external-resource/background/custom.jpg
/server-springboot/external-resource/login-background/custom.jpg
/dockerfile/*.tar
/dockerfile/*.tar.xz