Package: git-document
Version: 1.0.0
Section: utils
Priority: optional
Architecture: all
Installed-Size: 45816
Depends: openssh-server, openssh-sftp-server 
Maintainer: swsk33<yanhanhui2001a@163.com>
Provides: swsk33
Description: 一个轻量级的文档查看和管理平台。

